
.input{
  display: flex;
  justify-content: center;
}
.input-value{
  border-radius: 20px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.filter-container{
  display: grid;
  gap:20px;
  grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
 background-color: rgb(167, 179, 175);
 margin-top:40px
}
.filter-items{
  background-color: rgb(13, 161, 13);
  border-radius: 30px;
  padding: 10px;

}
 .meals{    margin-top: 10px;            /*  inclued just the image conatiner of the food item */
  background-color: rgba(139, 174, 132, 0.323);
  justify-content: center;
  display: flex;
  border-radius: 20px;
  transition: transform 0.3s ease-in-out , background-color 0.3s ease-in-out;
}
.meals:hover{
  background-color: aliceblue;
  transform: scale(1.05);
}
.the-main-box{
  background-color: rgb(33, 163, 24);
  padding: 20px;
  width: 100%;
  height: 100%;
}
.dishes-nameArea{
  justify-content: flex-start;
  display: flex;
color: rgb(4, 4, 7);
font-family: 'Times New Roman', Times, serif;
font-size: larger;
}
.no-results{
  background-color: aquamarine;
  color: black;
  display: flex;
  justify-content: center;
}
.images{
  width: 450px;
  border-radius: 30px;
}
.meal-name{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.splide-images:hover{
  transform: scale(1.05) ;
  
}
.splide-images{
  transition: transform 0.3s ease-in-out ;
}